.input {
	position: fixed;
	   bottom:0;
	width:100%;
	height:20;
}

.toolbar {
	position: fixed;
	top:0;
	width:100%;
	height:20;
}

.settings-dialog {
	position: fixed;
	top:20;
	   bottom:20;
	width:80%;
	height:80%;
}
.output {
	position: fixed;
	top:25;
	   bottom:20;
	width:100%;
}
